body {
  background-color: #E7F6F2;
}
img{
  height: 200px;
  width: 200px;
}
hr{
  border-color: grey;
border-style: none;
border-top-style: dotted;
border-width: 10px;
width: 5%;
}

h1{
  color: #2C3333;
}

h3{
  color: #2C3333;
}

img {
  border-radius: 50%;
}
